body {
	font-family: Arial, sans-serif;
	line-height:130%;
}

.header {
background-color: #6d695c;
/*Argyle. Author: Anna Kassner via leaverou.me*/
background-image:
-webkit-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px), -webkit-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
-webkit-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
-webkit-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));

background-image:
 -moz-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  -moz-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  -moz-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  -moz-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));

background-size: 70px 120px;
padding-top:10px;
}

.blog-header{
	padding-bottom:10px;
}

.links {
	padding: 5px 5px 5px 10px;
	text-shadow: 1px 1px 1px black;
}

.link-group{
	margin-top:10px;
	padding-bottom:20px;
}

.header-text{
	color: white;
	font-size: 20px;
	
}

.twitter{
	float:right;
	padding-top:20px;
	padding-right: 10px;
	font-size:0.9em;
}

.name {
	padding-left: 10px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-size:40px;
}

.ie-note{
	float:right;
	font-size:0.9em;
}

.code-sample{
	border-style: dashed;
	border-color: black;
	border-width: 1px;
	font-family: Courier;
	font-size: 85%;
}

.pretty-code-sample{
	border-style:solid;
	border-color: black;
	border-width: 2px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
}

.pretty-code-sample span{
	padding-left: 20px;	
}

.left-2-column {
	float:left;
	width: 45%;
}

.right-2-column {
	float:right;
	width:50%;
}

/*bastardised from http://matthewjamestaylor.com/blog/perfect-3-column.htm*/
.middle-column, .left-column {
	float:left;
	position:relative;
	width:100%;
	right: 33%;
}

.column-1,
.column-2,
.column-3,
.column-1-and-3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	overflow:hidden;
	width:29%;
}

.column-1 {
	left:102%;
}

.column-2 {
	left:37%;	
}
.column-3 {
	left:72%;			
}

.column-1-and-3 {
	left:97%;
}

.blog-post{
}

.sidebar{
	margin-top:21px;
    background-color: #6d695c;
    padding: 5px;
	font-size:14px;
	width:30%;
}

.blogs {
	width: 68%;
	padding-right:10px;
}

}

